/* Hiệu ứng cho nút OK khi nhấn */
.btn-ok:pressed {
    -fx-background-color: #962EFF !important; /* Đổi sang màu tím đậm khi nhấn */
    -fx-scale-x: 0.92;
    -fx-scale-y: 0.92;
}

/* Hiệu ứng cho nút Hủy khi nhấn */
.btn-cancel:pressed {
    -fx-background-color: #FF599F !important; /* Đổi sang màu hồng đậm khi nhấn */
    -fx-scale-x: 0.92;
    -fx-scale-y: 0.92;
}

/* Hiệu ứng hover (di chuột) nếu bạn muốn */
.btn-ok:hover, .btn-cancel:hover {
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}